[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
"beautifulsoup4" = "*"

[dev-packages]
jupyter = "*"
tox = "*"
sphinx = "*"
matplotlib = "*"
pytest = "*"
pylint = "*"
twine = "*"

[requires]
python_version = "3.6"
